extends layout

block content
  h1= title
  //p Welcome to #{title}

  body 
    div(class='container')
      div(class='city')
        p(class='item-a') Poznań
        p(class='item-b') temperatura
        p(class='item-c') wilgotność
        p(class='item-d') ciśnienie
        p(class='item-e') temperatura
        p(class='item-f') wilgotność
        p(class='item-g') ciśnienie
      div(class='city')
        p(class='item-a') Międzyrzecz
        p(class='item-b') temperatura
        p(class='item-c') wilgotność
        p(class='item-d') ciśnienie
        p(class='item-e') temperatura
        p(class='item-f') wilgotność
        p(class='item-g') ciśnienie
        
        
    
       
        
      
      




