extends layout

block content
  head
    //h2= title
    
    script(src='https://kit.fontawesome.com/abd674511e.js')
    script( src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0')

    //Graphs
    script(type='module' src='/public/javascripts/graphs-pn-out.js')
    script(type='module' src='/public/javascripts/graphs-pn-in.js')
    
    
    
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    
  
  body
    
    div(class='container')
      
      div(class='city')
        h4 Poznań
        div(class='city-params')
          
          div(class='read-sensor')
            div(class='opis')
              h4 Na zewnątrz
            div(class='params-sensor')
              img(src='/public/images/temperature.png' alt='')
              p(id='sensor') 25*C
            div(class='params-sensor')  
              img(src='/public/images/humidity.png' alt='')
              p(id='sensor') 50%
            div(class='params-sensor')
              img(src='/public/images/barometer.png' alt='')
              p(id='sensor') 1000hPa
            
          div(class='read-sensor')
            div(class='opis')
              h4 W mieszkaniu
            div(class='params-sensor')
              img(src='/public/images/temperature.png' alt='')
              p(id='sensor') 25*C
            div(class='params-sensor')  
              img(src='/public/images/humidity.png' alt='')
              p(id='sensor') 50%
        div(class='forecast-weather')
          p Słonecznie 
          p Prędkość wiatru 
          p Prędkość wiatru 
          p Jakość powietrza 
        div(class='alerts')
            img(src='/public/images/alert.png' alt='')
            p Uwaga 
        div(class='statistics')
          button Więcej informacji
      div(class='city')
        h4 Międzyrzecz
        div(class='city-params')
          
          div(class='read-sensor')
            p 12334
            p 12334
            p 12334
          div(class='read-sensor')
            p 12334
            p 12334
            p 12334
        div(class='alerts')
            p Uwaga 
      
  
       
      //-   div(class='location')
      //-     div(class='outside')
      //-       p(id='place') Na zewnątrz
      //-       div(class='params-wth')
      //-         img(src='/public/images/temperature.png' alt='')
      //-         p(id='') 25*C
      //-       div(class='params-wth')
      //-         img(src='/public/images/humidity.png' alt='')
      //-         p(id='') 55% 
      //-       div(class='params-wth')
      //-         img(src='/public/images/barometer.png' alt='')
      //-         p(id='') 1000 hPa

           
      //-       p(id='place') W domu
      //-       div(class='params-wth')
      //-         img(src='/public/images/temperature.png' alt='')
      //-         p(id='') 25*C
      //-       div(class='params-wth')
      //-         img(src='/public/images/humidity.png' alt='')
      //-         p(id='') 55% 
      //-       div(class='params-wth')
      //-         img(src='/public/images/barometer.png' alt='')
      //-         p(id='') 1000hPa
      //-       div(class='alerts')
      //-         p 123
          
      //- div(class='city')
        
      //-   div(class='outside')
          
          
          
        
          
      
        
        
        

         

  
        











