extends layout

block content
  h1= title
  //p Welcome to #{title}

  body 
    div(class='container')
      div(class='first-city')
        p Poznań 
      div(class='second-city')
        p Międzyrzecz 
      




