//extends layout

block content
    head
        h1= title
        p Witaj na stronie logowania
        script(src='https://cdn.jsdelivr.net/npm/chart.js')
  
        script(type='module' src='/public/javascripts/graphs-pn.js')
        script(type='module' src='/public/javascripts/test.js')
        
    body 
    form(method='post')
        p
            label Login:
            input(type='text' name='login' required)
        p   
            label Hasło:
            input(type='password' name='pwd' required)
        p
            input(type='submit' value='Zaloguj' required)
   
        
    div(class="test")
        canvas(id='myChart')
    div(class="test")
        canvas(id='wykres')