body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: solid black;
}
.city {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: auto;
  border: solid black;
  padding: 2px;
  grid-template-areas: 
    "header header header "
    "main main1 main2 "
    "main3 main4 main5"
  
}
.city:hover{
  transition: all 1s ease;
  background-color: aqua;
}

.item-a {
  text-align: center;
  grid-area: header;
}
.item-b {
  text-align: center;
  grid-area: main;
}
.item-c {
  text-align: center;
  grid-area: main1;
}
.item-d {
  text-align: center;
  grid-area: main2;
}
.item-e {
  text-align: center;
  grid-area: main3;
}
.item-f {
  text-align: center;
  grid-area: main4;
}
.item-g {
  text-align: center;
  grid-area: main5;
}

