
body {
  
}

a {
  color: #00B7FF;
}



h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  text-align: center;

}

.container {
  display: flex;
  flex-direction: row;
  height: 1000px;
  width: 1650px;
  
  border: solid black;
}
.city{
  height: auto;
  width: 800px;
  border: solid black;
  padding: 5px;
  margin-top: 5px;
  
}

.city-params{
  display: flex;
  flex-direction: row;
}

.read-sensor{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 330px;
  width: 700px;
  margin-top: 5px;
  padding: 5px;
  border: solid black;
}
.params-sensor{
  display: flex;
  flex-direction: row;
  width: 200px;
  padding: 10px;
}
.forecast-weather{
  border: solid black;
  margin-top: 5px;
}
.alerts{
  display: flex;
  border: solid black;
  margin-top: 5px;
}
#sensor{
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
}
.statistics{
  border: solid black;
  margin-top: 5px;
}

/* .city {
  display: flex;
  flex-direction: row; 
  height: 600px;
  width: 800px;
  border: solid black;
  padding: 2px;
  
  justify-content: center;
  
}
.location{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.inside{
  display: flex;
  flex-direction: column;
  border: solid black;
  height: 300px;
  width: 300px;
  
  
}
.outside{
  display: flex;
  flex-direction: column;
  border: solid black;
  height: 300px;
  width: 300px;
  
  
}
.params-wth{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
 
  
}
#place{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.alerts{
  flex-direction: column;
  margin-top: 5px;
  border: solid black;
} */


/* .city:hover{
  transition: all 1s ease;
  background-color: rgb(225, 225, 105);
} */
/* canvas{
  height: 300px !important;
  width: 300px !important;
  padding: 5px;
  
} */

